.content-item__container {
  display: flex;
  align-items: center;
}

.content-item__container-info  {
  display: flex;
}

.content-item__container-info img {
  width: 80px;
  margin-right: 10px;
}

.content-item__container-prise-and-cart {
  display: flex;
align-items: center;
}