.contentItem__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contentItem__containerInfo {
  display: flex;
}

.contentItem__containerInfo img {
  width: 80px;
  margin-right: 10px;
}

.contentItem__containerPriseAndCart {
  display: flex;
  align-items: center;
}
