.item__infoContainer {
    display: flex;
}

.item__infoContainer__span {
    color: #0070f3;
}

.itemContainer__itemButtons {
    display: flex;
}

.priseAndCartButton__button {
    background: #0070f3;
    color: white;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.priseAndCartButton__button:hover {
    background: #0157c4;
}

.listItemCard__itemButtons {
    display: flex;
}

.load__img {
    width: 30px;
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}